<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../asset/library/node_modules/@loadingio/loading.css/loading.css">
    <link rel="stylesheet" href="../../../asset/css/client/PantallaCarga.css">
    <title>Pantalla de Carga</title>
</head>
<body>

    <div id="loader">
        <div class="lds-dual-ring"></div>
        <div class="text">Cargando...</div>
    </div>
    
    <script src="../../../asset/library/node_modules/animejs/lib/anime.min.js"></script>
    <script src="../../../asset/js/client/PantallaCarga.js"></script>
</body>
</html>