<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Hotel</title>
    <link rel="stylesheet" href="../asset/css/login.css">
    <link rel="stylesheet" href="../asset/library/node_modules/bootstrap/dist/css/bootstrap.min.css">
</head>

<body>

    <div class="container w-75 bg-primary mt-5 rounded shadow">
        <div class="row align-items-stretch">
            <div class="col bg d-none d-lg-block col-md-5 col-lg-5 col-xl-6 rounded">
            </div>
            <div class="col bg-white p-5 rounded-end">
                <div class="text-end">
                    <img src="../asset/img/hotel-solid.svg" alt="hotel-logo.png" width="48">
                </div>
                <h2 class="fw-bold text-center py-5">Bienvenido</h2>
                <form action="#">
                    <div class="mb-4">
                        <label for="text" class="form-label">Usuario</label>
                        <input type="text" class="form-control" name="Usuario">
                    </div>
                    <div class="mb-4">
                        <label for="password" class="form-label">Contraseña: </label>
                        <input type="password" class="form-control" name="contrasena">
                    </div>
                    <div class="mb-4 form-check">
                        <input type="checkbox" name="connected" class="form-check-input">
                        <label for="connected" class="form-check-label">Recordarme</label>
                    </div>

                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
                    </div>

                    <div class="my-3">
                        <span>No tienes cuenta? <a href="#">Registrate ahora</a></span>
                        <br>
                        <span><a href="#">Recuperar contraseña</a></span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="../asset/library/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>