<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Hotel</title>
    <link rel="stylesheet" href="../asset/css/login.css">
    <link rel="stylesheet" href="../asset/library/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="shortcut icon" href="../asset/img/iconoLogo.svg" type="image/x-icon">

    <script src="../asset/library/node_modules/jquery/dist/jquery.min.js"></script>
</head>

<body>

    <div id="loader" class="loader">
        <img src="../asset/img/loaderLogin.gif" alt="Loading..." width="100">
    </div>

    <div class="container w-75 bg-primary mt-5 rounded shadow mt-5">
        <div class="row align-items-stretch">
            <div class="col bg d-none d-lg-block col-md-5 col-lg-5 col-xl-6 rounded">
            </div>
            <div class="col bg-white p-5 rounded-end">
                <div class="text-end">
                    <img src="../asset/img/logo principal.svg" alt="hotel-logo.png" width="250">
                </div>
                <h2 class="fw-bold text-center py-5">Bienvenido</h2>
                <form id="loginForm" onsubmit="signIn(event)">
                    <div class="mb-4">
                        <label for="text" class="form-label">Usuario: </label>
                        <input type="text" class="form-control" name="usuario" id="usuario">
                    </div>
                    <div class="mb-4">
                        <label for="password" class="form-label">Contraseña: </label>
                        <div class="input-group">
                            <input type="password" class="form-control" name="contrasena" id="contrasena">
                            <button type="button" class="btn btn-outline-secondary" id="togglePassword" onclick="togglePasswordVisibility()">
                                <i id="passwordToggleIcon" class="fa-solid fa-eye"></i>
                            </button>
                        </div>
                    </div>

                    <div class="d-grid">
                        <button class="btn btn-primary" onclick="signIn(event);">Iniciar Sesión</button>
                    </div>

                    <div class="my-3">
                        <span><a href="#">Recuperar contraseña</a></span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="../asset/library/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../asset/library/node_modules/sweetalert2/dist/sweetalert2.all.min.js"></script>
    <script src="../asset/library/icons/icons.js"></script>
    <script src="../asset/js/client/login.js"></script>
</body>

</html>