<!DOCTYPE html>
<html>

<head>
</head>

<body>
    <div
        style="font-family: 'Montserrat', sans-serif; font-family: 'Poppins', sans-serif; background-color: #f7f7f7; margin: 0; padding: 0; width: 100%;">
        <div
            style="display: flex; justify-content: center; align-items: center; min-height: 100vh; margin: 0; padding: 0;">
            <div
                style="max-width: 800px; padding: 20px; border-radius: 5px; background-color: #ffffff; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); border-top: 4px solid #007bff; width: 90%; margin: 0 auto;">
                <div
                    style="background-color: #007bff; color: #ffffff; padding: 20px; text-align: center; border-top-left-radius: 5px; border-top-right-radius: 5px;">
                    <a href="https://ale-hotel-7af0b2.netlify.app/"
                        style="text-decoration: none; color: #ffffff; font-size: 24px; font-weight: bold; transition: color 0.3s;">Bienvenido
                        a
                        Palmares de Alejandria</a>
                </div>
                <p style="font-weight: bold; margin: 15px; font-size: 16px; color: #333333;">Gracias por elegir Palmares
                    de Alejandria
                    para su estad&iacute;a. Nos enorgullece ofrecer una experiencia excepcional a nuestros
                    hu&eacute;spedes.</p>
                <p style="font-weight: bold; margin: 15px; font-size: 16px; color: #333333;">Nuestro hotel cuenta con
                    instalaciones de
                    primera clase, un
                    personal amable y un ambiente relajante para que disfrute de su estancia al m&aacute;ximo.</p>
                <div style="text-align: center;">
                    <div style="max-width: 200px; margin: 0 auto;">
                        <a href="https://ale-hotel-7af0b2.netlify.app/"><img style="max-width: 100%;"
                                src="https://ale-hotel-7af0b2.netlify.app/asset/img/logo%20hotel.png"
                                alt="Logo del Hotel"></a>
                    </div>
                </div>
                <table
                    style="width: 100%; border-collapse: collapse; margin-top: 20px; font-size: 16px; border: 1px solid #ddd; transition: background-color 0.3s;">
                    <thead>
                        <tr>
                            <th
                                style="padding: 10px; text-align: left; border-bottom: 1px solid #ddd; background-color: #f9f9f9;">
                                Nombres:</th>
                            <td
                                style="padding: 10px; text-align: left; border-bottom: 1px solid #ddd; transition: background-color 0.3s;">
                                {{name}}</td>
                        </tr>
                        <tr>
                            <th
                                style="padding: 10px; text-align: left; border-bottom: 1px solid #ddd; background-color: #f9f9f9;">
                                Apellidos:</th>
                            <td
                                style="padding: 10px; text-align: left; border-bottom: 1px solid #ddd; transition: background-color 0.3s;">
                                {{lastName}}</td>
                        </tr>
                        <tr>
                            <th
                                style="padding: 10px; text-align: left; border-bottom: 1px solid #ddd; background-color: #f9f9f9;">
                                Tel&eacute;fono:</th>
                            <td
                                style="padding: 10px; text-align: left; border-bottom: 1px solid #ddd; transition: background-color 0.3s;">
                                {{phone}}</td>
                        </tr>
                        <tr>
                            <th
                                style="padding: 10px; text-align: left; border-bottom: 1px solid #ddd; background-color: #f9f9f9;">
                                Correo Electronico:</th>
                            <td
                                style="padding: 10px; text-align: left; border-bottom: 1px solid #ddd; transition: background-color 0.3s;">
                                {{email}}</td>
                        </tr>
                        <tr>
                            <th
                                style="padding: 10px; text-align: left; border-bottom: 1px solid #ddd; background-color: #f9f9f9;">
                                Tipo habitación:</th>
                            <td
                                style="padding: 10px; text-align: left; border-bottom: 1px solid #ddd; transition: background-color 0.3s;">
                                {{tipohabitacionId}}</td>
                        </tr>

                        <tr>
                            <th
                                style="padding: 10px; text-align: left; border-bottom: 1px solid #ddd; background-color: #f9f9f9;">
                                Fecha entrada:</th>
                            <td
                                style="padding: 10px; text-align: left; border-bottom: 1px solid #ddd; transition: background-color 0.3s;">
                                {{fechaEntrada}}</td>
                        </tr>
                        <tr>
                            <th
                                style="padding: 10px; text-align: left; border-bottom: 1px solid #ddd; background-color: #f9f9f9;">
                                Fecha salida:</th>
                            <td
                                style="padding: 10px; text-align: left; border-bottom: 1px solid #ddd; transition: background-color 0.3s;">
                                {{fechaSalida}}</td>
                        </tr>
                    </thead>
                </table>
                <p
                    style="text-align: center; margin-top: 20px; font-weight: bold; color: #007bff; font-size: 18px; transition: color 0.3s;">
                    &iexcl;Gracias por
                    su reserva en Palmares de Alejandria! Esperamos que tenga una estancia agradable y estaremos
                    encantados de
                    atender todas sus necesidades durante su visita.</p>
                <div
                    style="display: flex; justify-content: space-between; background-color: #333333; color: #ffffff; padding: 20px; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; transition: background-color 0.3s;">
                    <div style="flex: 1; text-align: left;">
                        <p style="font-weight: normal; font-size: 14px; color: #888;">Para consultas y asistencia, por
                            favor
                            cont&aacute;ctenos a:</p>
                        <p style="font-weight: normal; font-size: 14px; color: #ffffff;">Tel&eacute;fono: +57 3133246040
                        </p>
                        <p style="font-weight: normal; font-size: 14px; color: #ffffff;">Email:
                            alehotelservices@gmail.com</p>
                    </div>
                    <div style="flex: 1; text-align: right;">
                        <p style="font-weight: normal; font-size: 14px; color: #888;">Software de Reservas</p>
                        <p style="font-weight: normal; font-size: 14px; color: #ffffff;"><a
                                href="https://ale-hotel-7af0b2.netlify.app"
                                style="text-decoration: none; color: #ffffff;">Centro de Ayuda</a></p>
                    </div>
                </div>
                <p style="text-align: center; font-size: 12px; color: #888; margin-top: 10px;">Este correo
                    electr&oacute;nico es confidencial y solo est&aacute; destinado al destinatario.</p>
            </div>
        </div>
    </div>
</body>

</html>