<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Reservas - Software Hotelero</title>
    <link rel="stylesheet" href="../../asset/library/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../asset/css/user/GestionReserva.css">
</head>

<body>
    <div class="container-fluid mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <form id="formRegistro">
                    <input type="text" name="reply-to" value="alehotelservices@gmail.com" hidden disabled>
                    <div class="card" id="formularioRegistro">
                        <h2 class="text-center">Registro de Persona</h2>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="tipoDocumento" class="form-label">Tipo de Documento<span>*</span>
                                        :</label>
                                    <select class="form-select" id="tipoDocumento" required>
                                        <option value="">Seleccionar</option>
                                        <option value="CC">Cédula de Ciudadanía</option>
                                        <option value="CE">Cédula de Extranjería</option>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label for="documento" class="form-label">Número de Documento<span>*</span>
                                        :</label>
                                    <input type="text" class="form-control" id="documento" required>
                                </div>
                                <div class="mb-3">
                                    <label for="nombres" class="form-label">Nombres<span>*</span> :</label>
                                    <input type="text" class="form-control" name="name" id="nombres" required>
                                </div>
                                <div class="mb-3">
                                    <label for="apellidos" class="form-label">Apellidos<span>*</span> :</label>
                                    <input type="text" class="form-control" name="lastName" id="apellidos" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="municipio" class="form-label">Departamento<span>*</span> :</label>
                                    <select class="form-select" id="departamento" onchange="cargarMunicipios()"
                                        required>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label for="municipio" class="form-label">Municipio<span>*</span> :</label>
                                    <select class="form-select" id="municipio" required>

                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label for="telefono" class="form-label">Teléfono<span>*</span> :</label>
                                    <input type="tel" class="form-control" name="phone" id="telefono" required>
                                </div>
                                <div class="mb-3">
                                    <label for="correo" class="form-label">Correo Electrónico<span>*</span> :</label>
                                    <input type="email" class="form-control" name="typeRoom" id="correo" required>
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <button id="btnRegistro" class="btn btn-primary btn-block p-1"
                                type="button">Siguiente</button>
                        </div>
                    </div>
                    <div id="formularioTipoHabitacion" style="display: none;">
                        <h2 class="text-center">Tipo de Habitación</h2>
                        <!-- Campos del formulario de Tipo de Habitación -->
                        <!-- ... -->
                        <div class="text-center">
                            <button id="btnAtras" class="btn btn-secondary">Atrás</button>
                            <button id="btnReserva" type="button" class="btn btn-primary" value="reserva" onclick="enviarCOrreo();">Reservar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"></script>

    <script type="text/javascript">emailjs.init('S5jqwfWkRbqskemmW')
    </script>
    <script src="../../asset/library/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../../asset/js/user/GestionReserva.js"></script>
</body>

</html>