<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ale-Hotel</title>
    <link rel="stylesheet" href="../../asset/library/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../asset/css/user/Style.css">
    <link rel="stylesheet" href="../../asset/library/node_modules/swiper/swiper-bundle.min.css">
</head>
<body>

    <header class="header">
        <h1>Ale-Hotel</h1>
        <p>Ubicación del hotel: Ciudad, País</p>
        <p>Número de contacto: 123-456-789</p>
    </header>

    <div class="container">
        <h2 class="Title">Habitaciones</h2>
    </div>

    <main class="container main p-5">
        <section class="section-carousel">
            <div id="room-carousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="room-card">
                            <img src="../../asset/img/habitacion 1.jpg" alt="Habitación 1">
                            <a type="submit" href="GestionReserva.html">Reserva</a>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="room-card">
                            <img src="../../asset/img/habitacion 2.jpg" alt="Habitación 2">
                            <a type="submit" href="GestionReserva.html">Reserva</a>
                        </div>
                    </div>

                    <!-- Mini-carta Habitación 3 -->
                    <div class="carousel-item">
                        <div class="room-card">
                            <img src="../../asset/img/habitacion 3.jpg" alt="Habitación 3">
                            <a type="submit" href="GestionReserva.html">Reserva</a>
                        </div>
                    </div>

                    <!-- Mini-carta Habitación 4 -->
                    <div class="carousel-item">

                        <div class="room-card">
                            <img src="../../asset/img/habitacion 4.jpg" alt="Habitación 4">
                            <a type="submit" href="GestionReserva.html">Reserva</a>
                        </div>
                    </div>

                    <!-- Mini-carta Habitación 5 -->
                    <div class="carousel-item">
                        <div class="room-card">
                            <img src="../../asset/img/habitacion 5.jpg" alt="Habitación 5">
                            <a type="submit" href="GestionReserva.html">Reserva</a>
                        </div>
                    </div>

                    <!-- Mini-carta Habitación 6 -->
                    <div class="carousel-item">
                        <div class="room-card">
                            <img src="../../asset/img/habitacion 6.jpg" alt="Habitación 6">
                            <a type="submit" href="GestionReserva.html">Reserva</a></a>
                        </div>
                    </div>

                    <!-- Mini-carta Habitación 7 -->
                    <div class="carousel-item">
                        <div class="room-card">
                            <img src="../../asset/img/habitacion 7.jpg" alt="Habitación 7">
                            <a type="submit" href="GestionReserva.html">Reserva</a>
                        </div>
                    </div>

                    <!-- Mini-carta Habitación 8 -->
                    <div class="carousel-item">
                        <div class="room-card">
                            <img src="../../asset/img/habitacion 8.jpg" alt="Habitación 8">
                            <a type="submit" href="GestionReserva.html">Reserva</a>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#room-carousel"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Anterior</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#room-carousel"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Siguiente</span>
                </button>
            </div>
            <div class="swiper-pagination"></div>
        </section>

        <section class="section-info">

        </section>
    </main>

    <footer>
        <p>Encuentra nuestro hotel en:</p>
        <ul class="social-links">
            <li><button class="social-button facebook-button"></button></li>
            <li><button class="social-button twitter-button"></button></li>
            <li><button class="social-button instagram-button"></button></li>
        </ul>
        <p class="footer-text">&copy; 2023 Ale-Hotel. Todos los derechos reservados.</p>
    </footer>

    <script src="../../asset/js/user/Carousel.js"></script>
    <!-- Bootstrap 5.3 js -->
    <script src="../../asset/library/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Swiper.js  -->
    <script src="../../asset/library/node_modules/swiper/swiper-bundle.min.js"></script>
</body>
</html>