.container {
    text-align: center;
    height: 100vh; 
    max-width: 150vh;
}
#formularioRegistro,
#formularioTipoHabitacion {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.card {
    background-color: #f8f9fa;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
}

h2 {
    margin-bottom: 20px;
}

.btn {
    margin-right: 10px;
}